<h1> <%= @restaurant.name %> </h1>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.phone_number %> </p>
<p> <%= @restaurant.category %> </p>
<%= link_to 'Edit this restaurant', edit_restaurant_path %>




